.intro-section {
    background-color: #d391b0;
    margin: 0;
    padding-bottom: 10px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9f8fa;
    display: flex;
    padding: 0;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px; 
    margin: 0 auto;
    padding-top: 10px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}

nav a {
    text-decoration: none;
    margin-right: 15px;
    color: white;
}


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* TO-DO: study box-sizing */
  }

.home-container {
    display: flex;
    justify-content: space-between;
    margin: 80px;
}

.text-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 15px;
    max-width: 500px;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

/*.reservation-button {
    max-width: fit-content;
    background-color: #f0a599;
    border-width: 0;
}*/

.reservation-button {
  align-items: center;
  appearance: none;
  max-width: fit-content;
  background-color: #f0a599;
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-size: 15px;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.reservation-button:active,
.reservation-button:focus {
  outline: none;
}

.reservation-button:hover {
  background-position: -20px -20px;
}

.reservation-button:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.main-image-container {
    max-width: fit-content;
    height: auto;
    background-color: #d391b0;
}

.main-image {
    height: auto;
    width: 620px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.our-services-heading {
    text-align: center;
    color: #d391b0;
    font-size: 36px;
    font-weight: 900;
}

.illustrations-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: fit-content;
    gap: 50px;
    margin-left: 20px;
}

.illustration-image {
    border: 2px solid #d391b0;
    border-radius: 10px;
}